doctype html
html(lang="ko")
  link(rel="shortcut icon" 
  href="https://image9.coupangcdn.com/image/coupang/favicon/v2/favicon.ico" 
  type="image/x-icon")
  link(rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap")
  
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title 쿠팡! 클론

  body 
    header asdasd
      .toon-category
      .toon-main
    footer  
    script(type="module" src="index.js") 