@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
.show {
  max-height: 100% !important;
}
.show-animation {
  max-height: 100% !important;
  transition: all 0.2s ease-in-out;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
}

html,
body {
  height: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul,
ol,
li {
  list-style: none;
}

input {
  outline: none;
  box-shadow: none;
}

button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
}

h1,
h2,
h3 {
  cursor: pointer;
}

section,
footer {
  width: 1020px;
  margin: 0 auto;
}

* {
  font-family: "Noto Sans KR", sans-serif;
  color: #333;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  height: 32px;
  font-size: 11px;
}
.top-bar li {
  padding: 8px 0 0 12px;
}
.top-bar--line {
  position: absolute;
  height: inherit;
  z-index: -1;
  left: 0;
  right: 0;
  background-color: #f0f0f0;
}
.top-bar--left {
  display: flex;
}
.top-bar--right {
  display: flex;
  padding-right: 25px;
}

.top-nav {
  display: flex;
}

.category-btn {
  min-width: 110px;
  min-height: 115px;
  background-image: url("//static.coupangcdn.com/image/coupang/common/pc_header_img_sprite_180104.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: auto;
  text-align: center;
}
.category-btn > a {
  color: #fff;
  font-size: 13px;
  margin-top: 70px;
  display: inline-block;
}

.category-layer {
  max-height: 0;
  overflow: hidden;
  position: absolute;
  top: 145px;
  border: 1px solid #f0f0f0;
  background: #fff;
  text-align: left;
}
.category-layer li {
  padding-left: 10px;
  height: 29px;
}
.category-layer li:first-child {
  margin-top: 10px;
}
.category-layer li a {
  display: inline-block;
  width: 135px;
  color: #555;
  font-size: 14px;
}
.category-layer li a strong {
  color: #4285f4;
}
.category-layer li a:hover {
  color: #4285f4;
  text-decoration: underline;
  -webkit-text-decoration-color: #4285f4;
          text-decoration-color: #4285f4;
}

.top-main {
  display: flex;
  flex-direction: column;
  width: 880px;
  height: 91px;
  padding-top: 16px;
  font-size: 12px;
}
.top-main-mid {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}
.top-main-mid h1 {
  min-width: 174px;
  min-height: 41px;
  background-image: url("//image7.coupangcdn.com/image/coupang/common/logo_coupang_w350.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}
.top-main-mid .my-coupang {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.top-main-mid .my-coupang .icon {
  min-width: 29px;
  min-height: 34px;
  background-image: url("//static.coupangcdn.com/image/coupang/common/pc_header_img_sprite_180104.png");
  background-repeat: no-repeat;
  background-position: -112px -42px;
  background-size: auto;
}
.top-main-mid .cart {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.top-main-mid .cart .icon {
  min-width: 40px;
  min-height: 41px;
  background-image: url("//static.coupangcdn.com/image/coupang/common/pc_header_img_sprite_180104.png");
  background-repeat: no-repeat;
  background-position: -112px 0;
  background-size: auto;
}
.top-main-bottom {
  display: flex;
  justify-content: space-evenly;
}
.top-main-bottom ul {
  display: flex;
  justify-content: space-between;
  padding-right: 80px;
}
.top-main-bottom li {
  padding: 7px 14px 0;
  height: 32px;
  text-align: center;
  font-weight: 300;
}
.top-main-bottom li a:hover {
  color: #4285f4;
  text-decoration: underline;
  -webkit-text-decoration-color: #4285f4;
          text-decoration-color: #4285f4;
}

.search-bar {
  display: flex;
  align-items: center;
  width: 520px;
  height: 37px;
  border: 2px solid #4285f4;
  overflow: hidden;
}

.search-select {
  display: flex;
  align-items: center;
  border-right: 1px solid #f0f0f0;
}
.search-select-category {
  padding-left: 10px;
  color: #555;
  width: 110px;
}
.search-select--toggle-btn {
  min-width: 30px;
  min-height: 30px;
  background-image: url("//static.coupangcdn.com/image/coupang/common/pc_header_img_sprite_180104.png");
  background-repeat: no-repeat;
  background-position: 6px -165px;
  background-size: auto;
}

.search-keyword {
  width: 290px;
  border: 0;
  margin-left: 10px;
  padding-right: 0px;
}

.search-mic-icon {
  min-width: 26px;
  min-height: 26px;
  background-image: url("//img1a.coupangcdn.com/image/coupang/common/ic_mic.png");
  background-repeat: no-repeat;
  background-position: 3px 1px;
  background-size: 20px 48px;
}

.search-read-icon {
  min-width: 50px;
  min-height: 35px;
  background-image: url("//static.coupangcdn.com/image/coupang/common/pc_header_img_sprite_180104.png");
  background-repeat: no-repeat;
  background-position: -112px -71px;
  background-size: auto;
}

.search-category-layer {
  max-height: 0;
  position: absolute;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
  top: 107px;
  z-index: 1;
  border: 1px solid #f0f0f0;
  background: #fff;
  text-align: left;
}
.search-category-layer li {
  padding-left: 10px;
  height: 29px;
}
.search-category-layer li:first-child {
  margin-top: 10px;
}
.search-category-layer li a {
  display: inline-block;
  width: 120px;
  color: #555;
  font-size: 14px;
}
.search-category-layer li a strong {
  color: #4285f4;
}
.search-category-layer li a:hover {
  color: #4285f4;
  text-decoration: underline;
  -webkit-text-decoration-color: #4285f4;
          text-decoration-color: #4285f4;
}

.search-keyword-Layer {
  max-height: 0;
  position: absolute;
  overflow: hidden;
  top: 107px;
  z-index: 1;
  border: 1px solid #f0f0f0;
  background: #fff;
  text-align: left;
}
.search-keyword-Layer li {
  padding-left: 10px;
  height: 29px;
}
.search-keyword-Layer li:first-child {
  margin-top: 10px;
}
.search-keyword-Layer li a {
  display: inline-block;
  width: 330px;
  color: #555;
  font-size: 14px;
}
.search-keyword-Layer li a strong {
  color: #4285f4;
}
.search-keyword-Layer li a:hover {
  color: #4285f4;
  text-decoration: underline;
  -webkit-text-decoration-color: #4285f4;
          text-decoration-color: #4285f4;
}
.search-keyword-Layer li {
  display: flex;
}
.search-keyword-Layer li span {
  right: 0;
  padding-right: 10px;
  opacity: 0;
  cursor: pointer;
}
.search-keyword-Layer li span:hover {
  opacity: 1;
}
.search-keyword-Layer--top {
  cursor: auto;
  font-weight: 500;
  padding: 10px 0 8px 10px;
  border-bottom: 1px solid #f0f0f0;
}
.search-keyword-Layer--bottom {
  display: flex;
  justify-content: space-between;
  font-weight: 100;
  border-top: 1px solid #f0f0f0;
  padding: 5px 0 5px 10px;
  background-color: #f0f0f0;
}
.search-keyword-Layer--bottom span {
  cursor: pointer;
}

.main-banner {
  height: 450px;
}
.main-banner--img {
  min-width: 100%;
  min-height: 100%;
  background-image: url("https://dummyimage.com/1020x450/e6dd8f/ffffff.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: auto;
}

.today-discovery {
  margin-top: 40px;
}

.today-discovery-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.today-discovery-container--title {
  font-size: 24px;
  font-weight: 700;
  margin-right: 10px;
}
.today-discovery-container--subtitle {
  font-size: 14px;
}

.today-discovery-grid-container {
  width: 980px;
  height: 950px;
  display: grid;
  gap: 10px;
  border: 1px solid #555;
  padding: 10px;
}
.today-discovery-grid-container .item {
  border: 1px solid #555;
}
.today-discovery-grid-container .item:nth-child(1) {
  grid-column: 1/span 2;
}
.today-discovery-grid-container .item:nth-child(2) {
  grid-column: 3/span 2;
}
.today-discovery-grid-container .item:nth-child(7) {
  grid-column: 1/span 2;
  grid-row: 3/span 1;
}/*# sourceMappingURL=style.css.map */