.search-bar {
  display: flex;
  align-items: center;
  width: 520px;
  height: 37px;
  border: 2px solid $blue;
  overflow: hidden;
}

.search-select {
  display: flex;
  align-items: center;
  border-right: 1px solid $gray;

  &-category {
    padding-left: 10px;
    color: $black-down;
    width: 110px;
  }

  &--toggle-btn {
    @include image($header-images, 30px, 30px, 6px -165px);
  }
}

.search-keyword {
  width: 290px;
  border: 0;
  margin-left: 10px;
  padding-right: 0px;
}

.search-mic-icon {
  @include image($mic-images, 26px, 26px, 3px 1px, 20px 48px);
}
.search-read-icon {
  @include image($header-images, 50px, 35px, -112px -71px);
}

.search-category-layer {
  max-height: 0;
  position: absolute;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
  top: 107px;
  z-index: 1;
  @include category-layer(120px);
}

.search-keyword-Layer {
  max-height: 0;
  position: absolute;
  overflow: hidden;
  top: 107px;
  z-index: 1;

  @include category-layer(330px);

  li {
    display: flex;
    span {
      right: 0;
      padding-right: 10px;
      opacity: 0;
      cursor: pointer;

      &:hover {
        opacity: 1;
      }
    }
  }

  &--top {
    cursor: auto;
    font-weight: 500;
    padding: 10px 0 8px 10px;
    border-bottom: 1px solid $gray;
  }

  &--bottom {
    display: flex;
    justify-content: space-between;
    font-weight: 100;
    border-top: 1px solid $gray;

    padding: 5px 0 5px 10px;
    background-color: $gray;
    span {
      cursor: pointer;
    }
  }
}
