@mixin image(
  $url: "https://dummyimage.com/1020x450/e6dd8f/ffffff.png",
  $width: 100%,
  $height: 100%,
  $position: 0 0,
  $size: auto
) {
  min-width: $width;
  min-height: $height;
  background: {
    image: url($url);
    repeat: no-repeat;
    position: $position;
    size: $size;
  }
}

@mixin hover-color($font-color: $black-down, $border-bottom-color: $black-down) {
  &:hover {
    color: $font-color;
    text-decoration: underline;
    text-decoration-color: $border-bottom-color;
  }
}

@mixin category-layer($width: 200px) {
  border: 1px solid $gray;
  background: $white;
  text-align: left;

  li {
    padding-left: 10px;
    height: 29px;

    &:first-child {
      margin-top: 10px;
    }

    a {
      display: inline-block;
      width: $width;
      color: $black-down;
      font-size: 14px;

      strong {
        color: $blue;
      }

      @include hover-color($blue, $blue);
    }
  }
}
